body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .mainHeader {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .search input {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
    }

    .arrangeButton {
        padding: 4px 12px;
        border-radius: 10px;
        background-color: #11be2e;
        font: bold 0.8rem "Fira Sans", serif;
        margin: 2px 0px 0px 2px;
        cursor: not-allowed;
        user-select: none;
    }
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.search {
    font-size: 18px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.search input {
    border: 2px solid #9ebbb8;
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search input:focus {
    border-color: #5239be;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.selectedPage {
    font-weight: bold;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    font: bold 0.9rem "Fira Sans", sans-serif;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.exit {
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font: bold 0.9rem "Fira Sans", sans-serif;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    user-select: none;
    background-color: #ad1c1c;
}

.exit:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    background-color: #cf4411;
}

.authLink {
    font-size: 50px;
    color: #800080;
    background-color: #daa520;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 5px solid #000000;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.authLink:hover {
    background-color: #1b2fa0;
    color: white;
}

.arrange {
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font: bold 0.9rem "Fira Sans", sans-serif;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    user-select: none;
    background-color: #cab124;
    cursor: pointer;
}

.arrange:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    background-color: #ffc107;
}

.match {
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font: bold 0.9rem "Fira Sans", sans-serif;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    user-select: none;
    background-color: #1e90ff;
    cursor: pointer;
}

.match:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    background-color: #1e90ff;
}
